<!DOCTYPE html>
<html>
<head>
    <title>Dissertation</title>
</head>

<body ng-app="dissertation" ng-controller="tapAPIController">
  
    <div>
    <link rel="stylesheet" type="text/css" href="css/landing-1.css">
    <script src="/donations/js/webfont.js"></script>
    <div class="w-section hero-section centered">
        <h1 class="hero-heading" data-ix="fade-in-bottom-page-loads" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 1000ms, transform 1000ms; -webkit-transition: opacity 1000ms, transform 1000ms;">
        <div class="margin-bottom-big">{{rumour}}</div>
        </h1>
        <button id="impactButton" type="button" class="button" ng-model="impactClicked" ng-click="impactClicked=true">Impact Scores</button>
        <button id="textButton" type="button" class="button" ng-model="textClicked" ng-click="textClicked=true">Text Features</button>
        <button id="accountButton" type="button" class="button" ng-model="accountClicked" ng-click="accountClicked=true">Account Features</button>

    </div>

    <div class="w-section footer">
        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-4 spc">
                	<h5>Impact Scores</h5>
                    <div id="valImpact" ng-show="impactClicked"><%=valImpact%></div>
                    <div id="valFollowers" ng-show="impactClicked"><%=valFollowers%></div>
                    <span ng-hide="impactClicked">Click Impact Scores button.<span>
                </div>
                <div class="w-col w-col-4 spc">
                    <h5>Text Features</h5>
                    <div id="valPop" ng-show="textClicked"><%=valPop%></div>
                    <div id="valTags" ng-show="textClicked"><%=valTags%></div>
                    <div id="valMedia" ng-show="textClicked"><%=valMedia%></div>
                    <div id="valURLs" ng-show="textClicked"><%=valURLs%></div>
                    <div id="valMentions" ng-show="textClicked"><%=valMentions%></div>
                    <div id="valRetweet" ng-show="textClicked"><%=valRetweet%></div>
                    <div id="valCaps" ng-show="textClicked"><%=valCaps%></div>
                    <div id="valQ" ng-show="textClicked"><%=valQ%></div>
                    <div id="valE" ng-show="textClicked"><%=valE%></div>
                    <div id="valQuote" ng-show="textClicked"><%=valQuote%></div>
                    <div id="valSmile" ng-show="textClicked"><%=valSmile%></div>
                    <div id="valLength" ng-show="textClicked"><%=valLength%></div>
                    <span ng-hide="textClicked">Click Text Features button.<span>
                </div>
                <div class="w-col w-col-4 spc">
                    <h5>Account Features</h5>
                    <div id="valAccPop" ng-show="accountClicked"><%=valAccPop%></div>
                    <div id="valYear" ng-show="accountClicked"><%=valYear%></div>
                    <div id="valAccFollowers" ng-show="accountClicked"><%=valAccFollowers%></div>
                    <div id="valFriends" ng-show="accountClicked"><%=valFriends%></div>
                    <div id="valStatuses" ng-show="accountClicked"><%=valStatuses%></div>
                    <div id="valdefPro" ng-show="accountClicked"><%=valdefPro%></div>
                    <div id="valdefAv" ng-show="accountClicked"><%=valdefAv%></div>
                    <div id="valVerified" ng-show="accountClicked"><%=valVerified%></div>
                    <span ng-hide="accountClicked">Click Account Features button.<span>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/webflow.7effb2b1c.js"></script>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-custom-tpls-0.13.0.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/webfont.js"></script>
    <script type="text/javascript" src="js/webflow.7effb2b1c.js"></script>

    <script>
    $('#impactButton').click(function(){
        $.get('/impact', function(res) {
            $('#valImpact').text(res[0].mean_impact);
            $('#valFollowers').text(res[1].mean_followers);
        });
    });
    </script>
    <script>
    $('#textButton').click(function(){
        $.get('/text', function(res) {
            $('#valPop').text(res[0].total_pop);
            $('#valTags').text(res[1].num_hashtags);
            $('#valMedia').text(res[2].num_media);
            $('#valURLs').text(res[3].num_urls);
            $('#valMentions').text(res[4].num_mentions);
            $('#valRetweet').text(res[5].num_retweet);
            $('#valCaps').text(res[6].num_caps);
            $('#valQ').text(res[7].num_q);
            $('#valE').text(res[8].num_e);
            $('#valQuote').text(res[9].num_quote);
            $('#valSmile').text(res[10].num_smile);
            $('#valLength').text(res[11].av_length);
        });
    });
    </script>
    <script>
    $('#accountButton').click(function(){
        $.get('/account', function(res) {
            $('#valAccPop').text(res[0].total_pop);
            $('#valYear').text(res[1].av_accYear);
            $('#valAccFollowers').text(res[2].av_followers);
            $('#valFriends').text(res[3].av_friends);
            $('#valStatuses').text(res[4].av_statuses);
            $('#valdefPro').text(res[5].num_defPro);
            $('#valdefAv').text(res[6].num_defAv);
            $('#valVerified').text(res[7].num_ver);
        });
    });
    </script>
</body>
</html>